.card-container {
  //   border: 2px solid black;
  border-radius: 10px;
  padding: 32px;
  display: inline-block;
  box-shadow: 0px 0px 18px 1px #888888;

  &__description {
    padding: 20px 0px;
  }

  &__tech-labels {
    display: flex;
  }

  &__avatar-list {
    margin: 20px 0px;
  }

  &__footer {
    display: flex;
    justify-content: space-around;
  }
}
