.card-container {
  //   border: 2px solid black;
  border-radius: 10px;
  padding: 32px;
  display: inline-block;
  box-shadow: 0px 4px 4px 0px #888888;

  &__description {
    padding: 20px 0px;
  }

  &__tech-labels {
    display: flex;
    div {
      margin-right: 4px;
    }
  }

  &__avatar-list {
    margin: 20px 0px;
  }

  &__footer {
    display: flex;
    justify-content: space-around;
  }
  .hired {
    margin-top: 16px;
    margin-bottom: 24px;
  }
}
