.avatar__small {
  border-radius: 4px;
  width: 24px;
  height: 24px;
}

.avatar__medium {
  border-radius: 8px;
  width: 56px;
  height: 56px;
}

.avatar__large {
  border-radius: 8px;
  width: 72px;
  height: 72px;
}

.avatar__extra-large {
  border-radius: 8px;
  width: 80px;
  height: 80px;
}
