.svg-icon {
  margin-right: 2px;
  height: 1em;
  fill: currentcolor;
}

.svg-icon__big {
  margin-right: 4px;
  height: 2em;
  fill: currentcolor;
}

.svg-icon__ultra {
  margin-right: 16px;
  height: 4em;
  fill: currentcolor;
}
