@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: $white;
}

h1 {
  font-size: 44px;
  font-weight: bold;
}

h2 {
  font-size: 34px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-size: 14px;
  font-weight: normal;
}

h6 {
  font-size: 12px;
  font-weight: normal;
}

p {
  font-size: 16px;
  font-weight: normal;
}

a {
  font-size: 18px;
  font-weight: normal;
}

.link {
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.strong {
  font-size: 14px;
  font-weight: bold;
}

.input-forms {
  font-size: 18px;
  font-weight: normal;
}

.layout__interno {
  padding: 5%;
  h2 {
    color: $secondary-darkest;
    margin-bottom: 16px;
  }
  h3,
  p {
    color: $secondary-dark;
    margin-bottom: 8px;
  }
  .construction {
    max-width: 40%;
  }
}

.grid-vacantes {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
}
