// Colors

$white: #FFFFFF;
$black: #0E1116;

$primary: #55BC7E;
$primary-lightest: #EEF8F2;
$primary-lighter: #BBE4CB;
$primary-light: #88D0A5;
$primary-dark: #3B8458;
$primary-darkest: #224B32;

$secondary: #58687E;
$secondary-lightest: #F5F6FA;
$secondary-lighter: #ECEEF1;
$secondary-light: #7D899B;
$secondary-dark: #455770;
$secondary-darkest: #293443;

$warning: #FCD87F;
$danger: #F37B94;