.icon-text__white {
  margin: 16px 0px;
  display: flex;
  align-items: center;
  color: $primary-lightest;
}
.icon-text__black {
  margin: 16px 0px;
  display: flex;
  align-items: center;
    color: $secondary-dark;
  }